@font-face



body {
    font-family: arial;
    margin: auto;
    text-align: center;
    line-height: 1.8;
    font-size: 1.6rem;
}

h1,
h2,
h3 {
    font-family: 'Josefin Slab', serif;
}

h2 {
    text-align: center;
}

img,
figure,
video {
    display: flex;
    justify-content: center;
    margin: auto;
}



.container {
    width: 80%;
    margin: auto;
}


.nav-primary {
    overflow: hidden;
    
    position: fixed;
    top: 10%;
    width: 100%;

    background-color: #fff;
    border-bottom: .2px solid grey
}

.nav-primary a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.header .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-container {
    padding: 16px;
    margin-top: 10rem;
}

.first-content-element {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
}

.third-content-element {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.fourth-content-element {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


