@font-face



body {
    font-family: arial;
    margin: auto;
    text-align: center;
    line-height: 1.8;
    font-size: 1.6rem;
}

h1,
h2,
h3 {
    font-family: 'Josefin Slab', serif;
}

h2 {
    text-align: center;
}

img,
figure,
video {
    display: flex;
    justify-content: center;
    margin: auto;
}



.container {
    width: 80%;
    margin: auto;
}

.header .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.first-content-element {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
}

.third-content-element {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.fourth-content-element {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


